

.header-band {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgb(8, 134, 252);
    justify-content: center;

    
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    color: white;
    font-size: 60px;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;

    text-align: center;
}

.flex-ul-test {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    list-style-type: none;
    
}

.nav-list a{
    color: white;
    text-decoration: none;

}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    margin: 0px;
    padding: 0px;
}

.gallery-title {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;

    margin: 10px 0px;
    font-size: 40px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;


    
}

.img-container {
    display: flex;
    width: calc(100% / 3 -20px);

}

.square-picture {
    height: 100px;
    width: 100px;

    pointer-events: auto;
}

@media (max-width: 500px) {
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 300px;

    
        
    }
}


@media (max-width: 2900px) {
    .menu {
        display: none;
    }
}

@media (max-width: 610px) {
    .menu {
        display: flex;
        height: 30px;
        width: 120px;
        justify-content: center;
        align-items: center;
        font-size: 100%;
        background-color: transparent;
        border: transparent;
        color: white;

        margin: 10px;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        text-align: center; 
    }
    
    .flex-ul-test {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .show-menu {
        display: flex; 
    }
}




@media (max-width: 500px) {
    .flex-ul-test {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        
        list-style-type: none;
    
        
    }

    .menu {
        display: none;
    }
}


.footer-style {
    display: flex;
    width: 100%;
    height: 45px;
    border: 3px solid brown;
    background-color: rgb(8, 134, 252);
    color: white;
    padding: 0px 0px 0px 5%;
}



.viewer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    place-items: center; 
    z-index: 10;
    padding: 15px;
    
}

.close-viewer {
    grid-column: 2 / 3; 
    grid-row: 1 / 2;    
    position: absolute;
    top: 20px; 
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px;
    cursor: pointer;
    z-index: 10; 
}

.big-image {
    grid-column: 1 / 3; 
    grid-row: 1 / 3;    
    max-width: 90%; 
    max-height: 100%;
    object-fit: contain; 
}

.hide-viewer {
    display: none;
}

.show-viewer {
    display: grid;
}
